
/**
 * @file
 * Navigation Styling
 */


/*
 * The active item in a Drupal menu
 */
li a.active {
  color: #000;
}

/*
 * Navigation bar
 */
#navigation {
}

#navigation .section {
  background: #0077c0 url(../images/bars.png) no-repeat;
  background-position: 0 -110px;
  color: white;
  height: 40px;
  margin-top: 10px;
  overflow: hidden;
  text-shadow: 1px 1px 1px #004f80;
}

#navigation .section a {
  color: white;
}

#navigation .region-navigation {
  float: left;
  width: 230px;
}

#navigation .region-navigation .block .content {
  height: 40px;
  line-height: 40px;
  padding-right: 10px;
  text-align: right;
  vertical-align:middle;
}

/*
 * Primary and Secondary menu links
 */
#main-menu {
  float: left;
  height: 40px;
  width: 730px;
}

#main-menu li a {
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  display: block;
  height: 40px;
  line-height: 40px;
  padding: 0 10px 0 10px;
  text-decoration: none;
  vertical-align:middle;
}

#main-menu li a.active,
#main-menu li a.active-trail,
#main-menu li a:hover {
  background-image: url('../images/vsprite.png');
  background-repeat: repeat-x;
  border-left: 1px solid #0077c0;
  border-right: 1px solid #0077c0;
}

#main-menu li a.active,
#main-menu li a.active-trail {
  background-position: 0 -40px;
  border-left: 1px solid #055383;
  border-right: 1px solid #055383;
}

#secondary-menu {
}

/*
 * Menu blocks
 */
.block-menu {
}

/*
 * "Menu block" blocks. See http://drupal.org/project/menu_block
 */
.block-menu_block {
}
